@import "tailwindcss";
@import "tailwindcss-primeui";
/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */

/* Primary Palette baseada em #0a2158 */
:root {
  --p-font-family-sans-serif: "DM Sans", sans-serif;
  --font-size: 16px;
  --p-primary-50: #f0f7ff;
  --p-primary-100: #e0f2ff;
  --p-primary-200: #bae6fd;
  --p-primary-300: #7dd3fc;
  --p-primary-400: #38bdf8;
  --p-primary-500: #0ea5e9;
  --p-primary-600: #0284c7;
  --p-primary-700: #0369a1;
  --p-primary-800: #075985;
  --p-primary-900: #0c4a6e;
  --p-primary-950: #0a2158; /* Sua cor base */

  /* Surface Palette */
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f4f4f5;
  --p-surface-200: #e4e4e7;
  --p-surface-300: #d4d4d8;
  --p-surface-400: #a1a1aa;
  --p-surface-500: #71717a;
  --p-surface-600: #52525b;
  --p-surface-700: #3f3f46;
  --p-surface-800: #27272a;
  --p-surface-900: #18181b;
  --p-surface-950: #09090b;

  --p-content-border-radius: 8px;
}

/* Theme */
:root {
  --p-primary-color: #2563eb; /* blue-600 */
  --p-primary-hover-color: #1d4ed8; /* blue-700 */
  --p-primary-active-color: #1e40af; /* blue-800 */
  --p-primary-contrast-color: #ffffff; /* white */
  --p-content-border-color: #e5e7eb; /* gray-200 */
  --p-content-hover-background: #f3f4f6; /* gray-100 */
  --p-content-hover-color: #1f2937; /* gray-800 */
  --p-highlight-background: #eff6ff; /* blue-50 */
  --p-highlight-color: #1e40af; /* blue-800 */
  --p-highlight-focus-background: #dbeafe; /* blue-100 */
  --p-highlight-focus-color: #1e40af; /* blue-900 */
  --p-text-color: #374151; /* gray-700 */
  --p-text-hover-color: #1f2937; /* gray-800 */
  --p-text-muted-color: #6b7280; /* gray-500 */
  --p-text-hover-muted-color: #4b5563; /* gray-600 */
}

/* Global Styles */
body {
  font-family: var(--p-font-family-sans-serif);
  font-size: var(--font-size);
}
input:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  color: #000 !important;
}